<div id="banner">
    <div class="nav-bar d-flex align-items-center">
        <div id="logo" class="ml-10"></div>
        <%= link_to("HOME", "/") %>
        <%= link_to("WORK", "/work") %>
        <%= link_to("ABOUT ME", "/about") %>
    </div>

    <div id="login-aera">
        <%= link_to("Login", "#") %>
        <%= link_to("Login off", "#") %>
    </div>
 </div>
</div>
